<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/index.css">

    <title>Tax Invoice</title>

</head>

<body>
    <div class="container text-center">
        <div class="card">
            <div class="card-header-top">
                <h6>Default Company Profile</h6>
                <h3>Demo Company</h3>
                <h6>GSTIN: ssdcd</h6>
            </div>
            <div class="card-header-bottom">
                <div class="row">
                    <div class="col">
                        +91-1234567890
                    </div>
                    <div class="col">
                        demo address
                    </div>
                    <div class="col">
                        +91-9876543210
                    </div>
                </div>
            </div>
            <hr>
            <div class="card-body-1">
                <h6># TAX INVOICE #</h6>
            </div>
            <hr>
            <form id="invoiceForm" action="/api/invoice/create" method="POST" onsubmit="return false;">


                <div class="card-body-2">

                    <table class="table table-bordered mb-0">
                        <tr>
                            <th class="w-50 text-start">Receiver's Details</th>
                            <th class="w-50 text-start">Invoice Details</th>
                        </tr>
                    </table>


                    <table class="table table-bordered align-middle mb-0">
                        <tr>

                            <td class="w-50">
                                <div class="mb-2 input-group">
                                    <span class="input-group-text">Name</span>
                                    <input type="text" name="Name" class="form-control">
                                </div>

                                <div class="mb-2 input-group">
                                    <span class="input-group-text">Address</span>
                                    <input type="text" name="Address" class="form-control">
                                </div>

                                <div class="mb-2 input-group">
                                    <span class="input-group-text">MobileNo</span>
                                    <input type="text" name="MobileNo" class="form-control">
                                </div>

                                <div class="mb-2 input-group">
                                    <span class="input-group-text">State</span>
                                    <input type="text" name="State" class="form-control">
                                </div>

                                <div class="input-group">
                                    <span class="input-group-text">GSTIN</span>
                                    <input type="text" name="GSTIN" class="form-control">
                                </div>
                            </td>


                            <td class="w-50">
                                <div class="mb-2 input-group">
                                    <span class="input-group-text">Invoice No</span>
                                    <input type="text" name="InvoiceNo" class="form-control">
                                </div>

                                <div class="mb-2 input-group">
                                    <span class="input-group-text">Chalan No.</span>
                                    <input type="text" name="ChalanNo" class="form-control">
                                </div>

                                <div class="mb-2 input-group">
                                    <span class="input-group-text">Invoice Date</span>
                                    <input type="text" name="InvoiceDate" class="form-control">
                                </div>

                                <div class="mb-2 input-group">
                                    <span class="input-group-text">Due Date</span>
                                    <input type="text" name="DueDate" class="form-control">
                                </div>

                                <div class="mb-2 input-group">
                                    <span class="input-group-text">Payment Terms</span>
                                    <input type="text" name="PaymentTerms" class="form-control">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-text">Eway Bill</span>
                                    <input type="text" name="EwayBill" class="form-control">
                                </div>
                            </td>


                        </tr>
                    </table>

                    <table class="table table-bordered">
                        <thead class="text-bold">
                            <tr>
                                <th scope="col">Sr</th>
                                <th scope="col">Desc.</th>
                                <th scope="col">Design No.</th>
                                <th scope="col">HSN</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Cut</th>
                                <th scope="col">MTR</th>
                                <th scope="col">Qty Unit</th>
                                <th scope="col">Rate</th>
                                <th scope="col">Amount
                                    <button type="button" class="btn btn-sm btn-primary mt-1"
                                        onclick="addRow()">+</button>
                                </th>

                            </tr>
                        </thead>
                        <tbody id="invoiceBody">


                            <tr>
                                <td>1</td>

                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>

                                <td>
                                    <input type="number" class="form-control qty" value="0"
                                        oninput="calculateRow(this)">
                                </td>

                                <td>
                                    <input type="number" class="form-control cut" value="0"
                                        oninput="calculateRow(this)">
                                </td>

                                <td>
                                    <input type="number" class="form-control mtr" value="0" readonly>
                                </td>

                                <td>
                                    <select class="form-select unit" onchange="calculateRow(this)">
                                        <option value="PCS">PCS</option>
                                        <option value="MTR">MTR</option>
                                    </select>

                                </td>

                                <td>
                                    <input type="number" class="form-control rate" value="0"
                                        oninput="calculateRow(this)">
                                </td>

                                <td>
                                    <input type="number" class="form-control amount" value="0" readonly>
                                </td>
                            </tr>

                            <!-- <tr>
                                <td>2</td>

                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>

                                <td>
                                    <input type="number" class="form-control qty" value="0"
                                        oninput="calculateRow(this)">
                                </td>

                                <td>
                                    <input type="number" class="form-control cut" value="0"
                                        oninput="calculateRow(this)">
                                </td>

                                <td>
                                    <input type="number" class="form-control mtr" value="0" readonly>
                                </td>

                                <td>
                                    <select class="form-select unit" onchange="calculateRow(this)">
                                        <option value="PCS">PCS</option>
                                        <option value="MTR">MTR</option>
                                    </select>
                                </td>

                                <td>
                                    <input type="number" class="form-control rate" value="0"
                                        oninput="calculateRow(this)">
                                </td>

                                <td>
                                    <input type="number" class="form-control amount" value="0" readonly>
                                </td>
                            </tr>


                            <tr>
                                <td>3</td>

                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>

                                <td>
                                    <input type="number" class="form-control qty" value="0"
                                        oninput="calculateRow(this)">
                                </td>

                                <td>
                                    <input type="number" class="form-control cut" value="0"
                                        oninput="calculateRow(this)">
                                </td>

                                <td>
                                    <input type="number" class="form-control mtr" value="0" readonly>
                                </td>

                                <td>
                                    <select class="form-select unit" onchange="calculateRow(this)">
                                        <option value="PCS">PCS</option>
                                        <option value="MTR">MTR</option>
                                    </select>
                                </td>

                                <td>
                                    <input type="number" class="form-control rate" value="0"
                                        oninput="calculateRow(this)">
                                </td>

                                <td>
                                    <input type="number" class="form-control amount" value="0" readonly>
                                    <button type="button" class="btn btn-sm btn-primary mt-1"
                                        onclick="addRow(this)">+</button>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">4</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr> -->
                        </tbody>
                    </table>
                    <table class="invoice-table">

                        <tr>
                            <td class="col-10-td">
                                <h6 class="text-start">Total</h6>
                            </td>
                            <td class="col-2-td">
                                <input type="number" id="totalAmount" class="form-control" value="0" readonly>

                            </td>
                        </tr>


                        <tr>
                            <td class="col-7-td">
                                <h6>Amount (in words)</h6>
                            </td>
                            <td class="col-3-td text-start">
                                <h6>Dis (00 %)</h6>
                            </td>
                            <td class="col-2-td text-start">
                                <h6>00</h6>
                            </td>
                        </tr>


                        <tr>
                            <td class="col-7-td">
                                <h6>Eleven Rupees Only</h6>
                            </td>
                            <td class="col-3-td text-start">
                                <h6>Taxable Value</h6>
                            </td>
                            <td class="col-2-td text-start">
                                <input type="number" id="taxableValue" readonly>
                            </td>
                        </tr>


                        <tr>
                            <td class="col-7-td text-start">
                                <h6>PAN: sdsdc</h6>
                                <h6>Bank Name: zc</h6>
                                <h6>Account No: zxc</h6>
                                <h6>Branch Name: zsc</h6>
                                <h6>IFSC: 64</h6>
                            </td>
                            <td class="col-3-td">

                                <table class="nested-table text-start">
                                    <tr>
                                        <td>
                                            <h6>CGST (00 %)</h6>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6>SGST (00 %)</h6>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <h6>IGST (5 %)</h6>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <h6>Invoice Total</h6>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <h6>Round Off(+/-)</h6>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <h6>Invoice Total</h6>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td class="col-2-td">


                                <table class="nested-table text-start">
                                    <tr>
                                        <td>
                                            <h6>00</h6>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6>00</h6>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <h6>0.5</h6>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <input type="number" id="invoiceTotalbefore" readonly>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <h6>0.50</h6>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <input type="number" id="invoiceTotalafter" readonly>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>


                        <tr class="no-bottom-border">
                            <td class="col-7-td text-start">
                                <h6>TERM & CONDITION</h6>
                                <h6>SUBJECT TO SURAT JURISDICTION E.&O.E.</h6>
                                <h6>Goods once sold will not be taken back or replaced.</h6>
                                <h6>Any complaint of goods should be made within 7 days.</h6>
                                <h6>Interest @ 4% per month will be charged on the bill.</h6>
                                <h6>Receiver's Sign. ___________________</h6>
                            </td>
                            <td colspan="2" style="width: 41.67%; border-left: 1px solid #dee2e6;">
                                <h6 class="bottom">For, Demo Company</h6>
                                <br>
                                <br>
                                <h6>Authorised Sign</h6>
                                <h6>____________________</h6>
                            </td>
                        </tr>
                    </table>
                    <hr>
                    <button type="submit" class="btn btn-success px-5">
                        Submit
                    </button>

                </div>
            </form>

        </div>
    </div>



    <script>
        function calculateRow(el) {

            const row = el.closest("tr");

            const qty = Number(row.querySelector(".qty").value) || 0;
            const cut = Number(row.querySelector(".cut").value) || 0;
            const rate = Number(row.querySelector(".rate").value) || 0;
            const unit = row.querySelector(".unit").value;

            const mtrInput = row.querySelector(".mtr");
            const amountInput = row.querySelector(".amount");

            let mtr = 0;
            let amount = 0;


            if (qty > 0 && cut > 0) {
                mtr = qty * cut;
            }
            mtrInput.value = mtr;


            if (unit === "PCS") {
                amount = qty * rate;
            } else {
                amount = mtr * rate;
            }

            amountInput.value = amount;

            calculateTotal();
        }

        function calculateTotal() {

            let total = 0;

            document.querySelectorAll(".amount").forEach(input => {
                total += Number(input.value) || 0;
            });

            document.getElementById("totalAmount").value = total;
            document.getElementById("taxableValue").value = total;

            let IGST = 0.5;
            let afterTax = total + IGST;
            document.getElementById("invoiceTotalbefore").value = afterTax;

            let roundedTotal = Math.round(afterTax);
            let roundOff = roundedTotal - afterTax;
            document.getElementById("invoiceTotalbefore").value = afterTax;
            document.getElementById("invoiceTotalafter").value = roundedTotal;
        }

        function addRow() {
            const tbody = document.getElementById("invoiceBody");
            const rowCount = tbody.rows.length + 1;

            const tr = document.createElement("tr");

            tr.innerHTML = `<td>${rowCount}</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>

        <td>
            <input type="number" class="form-control qty"
                oninput="calculateRow(this)">
        </td>

        <td>
            <input type="number" class="form-control cut"
                oninput="calculateRow(this)">
        </td>

        <td>
            <input type="number" class="form-control mtr" readonly>
        </td>

        <td>
            <select class="form-select unit"
                onchange="calculateRow(this)">
                <option value="PCS">PCS</option>
                <option value="MTR">MTR</option>
            </select>
        </td>

        <td>
            <input type="number" class="form-control rate"
                oninput="calculateRow(this)">
        </td>

        <td>
            <input type="number" class="form-control amount" readonly>
        </td>
    `;

            tbody.appendChild(tr);
        }

    </script>





</body>

</html>